<template name="pizzaCategories">
  <ul class="nav nav-tabs" role="tablist">
    {{#if currentUser}}
      <li class="active" role="presentation" data-pizza-type="My Pizzas">
        <a href="#my-pizzas" aria-controls="my-pizzas" role="tab" data-toggle="tab">My Custom Pizzas</a>
      </li>
      <li role="presentation" data-pizza-type="Popular Pizzas">
        <a href="#popular-pizzas" aria-controls="popular-pizzas" role="tab" data-toggle="tab">Popular Pizzas</a>
      </li>
    {{else}}
      <li class="active" role="presentation" data-pizza-type="Popular Pizzas">
          <a href="#popular-pizzas" aria-controls="popular-pizzas" role="tab" data-toggle="tab">Popular Pizzas</a>
      </li>
    {{/if}}
    <li role="presentation" data-pizza-type="Custom Pizzas">
        <a href="#custom-pizzas" aria-controls="custom-pizzas" role="tab" data-toggle="tab">Build a Pizza</a>
    </li>
  </ul>

  <div class="tab-content">
    {{#if currentUser}}
      <div class="tab-pane active" id="my-pizzas" role="tabpanel">
        {{> Template.dynamic template="pizzaList" data=myPizzas}}
      </div>
      <div class="tab-pane" id="popular-pizzas" role="tabpanel">
        {{> Template.dynamic template="pizzaList" data=popularPizzas}}
      </div>
    {{else}}
      <div class="tab-pane active" id="popular-pizzas" role="tabpanel">
        {{> Template.dynamic template="pizzaList" data=popularPizzas}}
      </div>
    {{/if}}
    <div class="tab-pane" id="custom-pizzas" role="tabpanel">
       {{> buildPizza}}
    </div>
  </div>
</template>
